<span class="header" style="color:hsla(1, 95%, 31%, 0.7);font-size:x-large;">
    SSJ Online Trading!</span>
<style>
    .header {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    font-weight: 500;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .open {
    color: green;
  }
  .current {
    background-color: yellow !important;
  }
  .high {
    color: blue;
  } 
  .low {
    color: black;
  } 
  .prevClose {
    color: rgb(235, 127, 136);
  }  
  table tr{
    padding: 5px;
  }
  table tr td{
    padding: 5px;
  }
</style>
<table class="header">
    <tr>
      <td>
        <table style="float:left;">
          <tr>
            <td>
              <p>Min Price</p>
              <input type="text" name="minCurrent" [(ngModel)]="minCurrent"/>
            </td>
            <td>
              <p>Max Price</p>
              <input type="text" name="maxCurrent" [(ngModel)]="maxCurrent"/>
            </td>
            <td>
              <p>Company Name</p>
              <input type="text" name="txtCompany" [(ngModel)]="txtCompany"/>
            </td>
            <td>
              <p><input type="checkbox" [(ngModel)]="chkRefresh"/>Refresh</p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td>
        <!-- *ngIf="company.roce_perc>oce_perc && company.bse && company.nse && company.bse.current>=minCurrent && company.bse.current<=maxCurrent" -->
        <table *ngFor="let company of companiesData;let i=index">
          <tr *ngIf=" (txtCompany=='' || (txtCompany && company.companyname.toLowerCase().indexOf(txtCompany.toLowerCase())!=-1)) && company.bse && company.nse && company.bse.current>=minCurrent && company.bse.current<=maxCurrent">
            <td >
            <table>
            <tr>
              <td>
                <span  style='font-size:16px;color: brown'>{{i+1}}. {{ company.companyname}}</span>
                <span style="padding-left:20px;"><a target="_blank" style="text-decoration:none;" href="https://economictimes.indiatimes.com/{{company.companyname}}/stocks/companyid-{{company.companyid}}.cms#recommendations">Recos</a></span>
                <span style="padding-left:20px;"><a target="_blank" style="text-decoration:none;" href="https://www.5paisa.com/get-top-stock-data/{{company.scripcode}}">5Paisa Recos</a></span>
                  <!-- https://etmarketsapis.indiatimes.com/ET_Stats/getAllIndices?pagesize=5000 -->
                <span style="padding-left:20px;"><a target="_blank" style="text-decoration:none;" href="https://etmarketsapis.indiatimes.com/ET_Stats/et500?pagesize=500&pageno=1&sortby=currentYearRank&sortorder=asc&year={{currentYear}}&companyid={{company.companyid}}">{{ currentYear }}</a></span>
                <span style="padding-left:20px;"><a target="_blank" style="text-decoration:none;" href="https://etmarketsapis.indiatimes.com/ET_Stats/getAllIndices?pagesize=5000">All Indices</a></span>
                <span style="padding-left:20px;"><a target="_blank" style="text-decoration:none;" href="https://etmarketsapis.indiatimes.com/ET_Stats/getIndexByIds?pagesize=50&exchange=50&indexid=2369&marketcap=&company=true&sortorder=desc&sortby=currentprice">Indices Detail</a></span>
                <span style="padding-left:20px;"><a target="_blank" allt="Raise & Support" style="text-decoration:none;" href="https://economictimes.indiatimes.com/stocks_technicals.cms?companyid={{company.companyid}}&scripCode={{company.scripcode}}&companytype=equity&exchange=NSE&period=1d">R&S</a></span>
                <!-- <span style="padding-left:20px;"><a target="_blank" style="text-decoration:none;" href="https://etmarketsapis.indiatimes.com/ET_Stats/et500?pagesize=500&pageno=1&sortby=currentYearRank&sortorder=asc&year={{company.et500year-1}}&companyid={{company.companyid}}">{{ company.et500year-1 }}</a></span>
                <span style="padding-left:20px;"><a target="_blank" style="text-decoration:none;" href="https://etmarketsapis.indiatimes.com/ET_Stats/et500?pagesize=500&pageno=1&sortby=currentYearRank&sortorder=asc&year={{company.et500year-2}}&companyid={{company.companyid}}">{{ company.et500year-2 }}</a></span> -->
              </td>
            </tr>
            <tr>
              <td>
                <table style="padding:2px;">
                  <tr>
                    <td><a target="_blank" style="text-decoration:none;" href="https://marketservices.indiatimes.com/marketservices/companyshortdata?companyid={{company.companyid}}&companytype=equity">BSE/NSE</a> -</td>
                    <td *ngIf="company.bse">Open <span style='padding:5px;background-color: lightblue'>{{ company.bse?.open }}/{{ company.nse?.open }}</span></td>
                    <td *ngIf="company.bse">Current <span style='padding:5px;background-color: yellow'>{{ company.bse?.current }}/{{ company.nse?.current }}</span></td>
                    <td *ngIf="company.bse">High <span style='padding:5px;background-color: lightgreen'>{{ company.bse?.high }}/{{ company.nse?.high }}</span></td>
                    <td *ngIf="company.bse">Low <span style='padding:5px;background-color: pink'>{{ company.bse?.low }}/{{ company.nse?.low }}</span></td>
                    <td *ngIf="company.bse">PrevClose <span style='padding:5px;background-color: lightgrey'>{{ company.bse?.previousClose }}/{{ company.nse?.previousClose }}</span></td>
                    <td *ngIf="company.bse">Volume <span style='padding:5px;background-color: rgb(235, 127, 136)'>{{ company.bse?.volume }}/{{ company.nse?.volume }}</span></td>
                  </tr>
                </table>
              </td>
              
    
            </tr>
            <tr>
              <td >
                  <table style="padding:2px;">
                    <tr>
                        <td><a target="_blank" style="text-decoration:none;color:blue;" href="https://etelection.indiatimes.com/ET_Charts/delaycharts?scripcode={{company.nseScripCode}}&exchangeid=50&datatype=eod&filtertype=eod&tagId={{company.companyid}}&firstreceivedataid={{todayDate}}&lastreceivedataid=&directions=back&scripcodetype=company&uptodataid=&period=1w">LOW-HIGH</a> - </td>
                        <td *ngIf="company.oneWeekData">
                          <span><a target="_blank" style="text-decoration:none;color:blue;" href="https://etelection.indiatimes.com/ET_Charts/delaycharts?scripcode={{company.nseScripCode}}&exchangeid=50&datatype=eod&filtertype=eod&tagId={{company.companyid}}&firstreceivedataid={{todayDate}}&lastreceivedataid=&directions=back&scripcodetype=company&uptodataid=&period=1w">1W</a> -></span> 
                          {{ company.oneWeekData }}</td>
                        <td *ngIf="company.oneMonthData"><span><a target="_blank" style="text-decoration:none;color:brown;" href="https://etelection.indiatimes.com/ET_Charts/delaycharts?scripcode={{company.nseScripCode}}&exchangeid=50&datatype=eod&filtertype=eod&tagId={{company.companyid}}&firstreceivedataid={{todayDate}}&lastreceivedataid=&directions=back&scripcodetype=company&uptodataid=&period=1m">1M</a> -></span> 
                          {{ company.oneMonthData }}</td>
                        <td *ngIf="company.threeMonthsData"><span><a target="_blank" style="text-decoration:none;color:magenta;" href="https://etelection.indiatimes.com/ET_Charts/delaycharts?scripcode={{company.nseScripCode}}&exchangeid=50&datatype=eod&filtertype=eod&tagId={{company.companyid}}&firstreceivedataid={{todayDate}}&lastreceivedataid=&directions=back&scripcodetype=company&uptodataid=&period=3m">3M</a> -></span> 
                          {{ company.threeMonthsData }}</td>
                        <td *ngIf="company.sixMonthsData"><span><a target="_blank" style="text-decoration:none;color:orange;" href="https://etelection.indiatimes.com/ET_Charts/delaycharts?scripcode={{company.nseScripCode}}&exchangeid=50&datatype=eod&filtertype=eod&tagId={{company.companyid}}&firstreceivedataid={{todayDate}}&lastreceivedataid=&directions=back&scripcodetype=company&uptodataid=&period=6m">6M</a> -></span> 
                          {{ company.sixMonthsData }}</td>
                        <td *ngIf="company.oneYearData"><span><a target="_blank" style="text-decoration:none;color:purple;" href="https://etelection.indiatimes.com/ET_Charts/delaycharts?scripcode={{company.nseScripCode}}&exchangeid=50&datatype=eod&filtertype=eod&tagId={{company.companyid}}&firstreceivedataid={{todayDate}}&lastreceivedataid=&directions=back&scripcodetype=company&uptodataid=&period=1y">1Y</a> -></span> 
                          {{ company.oneYearData }}</td>
                        <td *ngIf="company.fiveYearsData"><span><a target="_blank" style="text-decoration:none;color:red;" href="https://etelection.indiatimes.com/ET_Charts/delaycharts?scripcode={{company.nseScripCode}}&exchangeid=50&datatype=eod&filtertype=eod&tagId={{company.companyid}}&firstreceivedataid={{todayDate}}&lastreceivedataid=&directions=back&scripcodetype=company&uptodataid=&period=5y">5Y</a> -></span> 
                          {{ company.fiveYearsData }}</td>

                    </tr>
                  </table>
              </td>
            </tr>
            <tr><td><table><tr>
              <td *ngIf="company.oneYearAvg"><span><a target="_blank" style="text-decoration:none;color:blue;">1Y Recos</a> -></span> 
                {{ company.oneYearAvg }} - {{ company.oneYearPercentage }}% - <span style="text-decoration:none;background-color:yellow;">{{ company.oneYearFlag }}</span></td>  
              <td *ngIf="company.sixMonthsAvg"><span><a target="_blank" style="text-decoration:none;color:blue;">6M Recos</a> -></span> 
                {{ company.sixMonthsAvg }} - {{ company.sixMonthsPercentage }}% - <span style="text-decoration:none;background-color:yellow;">{{ company.sixMonthsFlag }}</span></td>       
              <td *ngIf="company.threeMonthsAvg"><span><a target="_blank" style="text-decoration:none;color:blue;">3M Recos</a> -></span> 
                {{ company.threeMonthsAvg }} - {{ company.threeMonthsPercentage }}% - <span style="text-decoration:none;background-color:yellow;">{{ company.threeMonthsFlag }}</span></td>  
                <td *ngIf="company.threeMonthsAvg"><span><a target="_blank" style="text-decoration:none;color:blue;">FINAL</a> -></span> 
                  <span style="text-decoration:none;background-color:yellow;">{{ company.oneYearFlag }}-{{ company.sixMonthsFlag }}-{{ company.threeMonthsFlag }}</span></td> 
              </tr></table>
            </td></tr>
          </table>
          </td>
        </tr>
        </table>
      </td>
    </tr>
  </table>
