<span class="header" style="color:hsla(1, 95%, 31%, 0.7);font-size:x-large;">
    SSJ Online Trading!</span>
<style>
    .header {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    font-weight: 500;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .open {
    color: green;
  }
  .current {
    background-color: yellow !important;
  }
  .high {
    color: blue;
  } 
  .low {
    color: black;
  } 
  .prevClose {
    color: rgb(235, 127, 136);
  }  
  table tr{
    padding: 5px;
  }
  table tr td{
    padding: 5px;
  }
</style>
<table class="header">
    <tr>
      <td>
        <table style="float:left;">
          <tr>
            <td>
              <p>Min Price</p>
              <input type="text" name="minCurrent" style="width:80px;" [(ngModel)]="minCurrent"/>
            </td>
            <td>
              <p>Max Price</p>
              <input type="text" name="maxCurrent" style="width:80px;" [(ngModel)]="maxCurrent"/>
            </td>
            <td>
              <p>Company Name</p>
              <input type="text" name="txtCompany" style="width:150px;" [(ngModel)]="txtCompany"/>
            </td>
            <td>
              <p>Group</p>
              <input type="text" name="txtGroup" style="width:80px;" [(ngModel)]="txtGroup"/>
            </td>
            <!-- <td>
              <p>Recos</p>
              <input type="text" name="txtRecos" style="width:150px;" [(ngModel)]="txtRecos"/>
            </td> -->
            <td>
                <p>Change</p>
                <input type="text" name="txtChange" style="width:80px;" [(ngModel)]="txtChange"/>
            </td>
            <td>
              <a name="prevPage" id="prevPage" ngDefaultControl href="dashboard/{{prevPage}}" [(ngModel)]="prevPage" (click)="pageClick('P')">Prev</a> | {{nextPage}} | <a name="nextPage" id="nextPage" ngDefaultControl href="dashboard/{{nextPage}}" [(ngModel)]="nextPage" (click)="pageClick('N')">Next</a>
              <p><input type="checkbox" [(ngModel)]="chkRefresh"/>Refresh</p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td>
        <!-- *ngIf="company.roce_perc>oce_perc && company.bse && company.nse && company.bse.current>=minCurrent && company.bse.current<=maxCurrent" -->
        <table *ngFor="let company of companiesData;let i=index">
          <tr *ngIf=" (txtCompany=='' || (txtCompany && company.companyname.toLowerCase().indexOf(txtCompany.toLowerCase())!=-1)) && (txtRecos=='' || (txtRecos==company.oneYearFlag+'-'+company.sixMonthsFlag+'-'+company.threeMonthsFlag)) && (txtGroup=='' || (txtGroup==company.securitycode)) && company.bse && company.nse && company.bse.current>=minCurrent && company.bse.current<=maxCurrent && (txtChange=='' || (txtChange && company.change.toLowerCase().indexOf(txtChange.toLowerCase())!=-1))">
            <td >
            <table>
            <tr>
              <td>
                <span  style='font-size:16px;color: brown'>{{i+1}}. {{ company.companyname}} [{{company.Series}}] - [{{company.securitycode}}]</span>
                <span style="padding-left:10px;"><a target="_blank" style="text-decoration:none;" href="https://economictimes.indiatimes.com/{{company.companyname}}/stocks/companyid-{{company.companyid}}.cms#recommendations">Recos</a></span>
                <span style="padding-left:10px;"><a target="_blank" style="text-decoration:none;" href="https://economictimes.indiatimes.com/markets/technical-charts?symbol={{company.scripcode}}&exchange=NSE&entity=company">Chart</a></span>
                <span style="padding-left:10px;"><a target="_blank" style="text-decoration:none;" href="https://www.equitypandit.com/ask-analyst/">Ask</a></span>
                <span style="padding-left:10px;"><a target="_blank" style="text-decoration:none;" href="https://www.5paisa.com/get-top-stock-data/{{company.scripcode}}">5Paisa Recos</a></span>
                  <!-- https://etmarketsapis.indiatimes.com/ET_Stats/getAllIndices?pagesize=5000 -->
                <span style="padding-left:10px;"><a target="_blank" style="text-decoration:none;" href="https://etmarketsapis.indiatimes.com/ET_Stats/et500?pagesize=500&pageno=1&sortby=currentYearRank&sortorder=asc&year={{currentYear}}&companyid={{company.companyid}}">{{ currentYear }}</a></span>
                <span style="padding-left:10px;"><a target="_blank" style="text-decoration:none;" href="https://etmarketsapis.indiatimes.com/ET_Stats/getAllIndices?pagesize=5000">All Indices</a></span>
                <span style="padding-left:10px;"><a target="_blank" style="text-decoration:none;" href="https://etmarketsapis.indiatimes.com/ET_Stats/getIndexByIds?pagesize=50&exchange=50&indexid=2369&marketcap=&company=true&sortorder=desc&sortby=currentprice">Indices Detail</a></span>
                <span style="padding-left:10px;"><a target="_blank" allt="Raise & Support" style="text-decoration:none;" href="https://economictimes.indiatimes.com/stocks_technicals.cms?companyid={{company.companyid}}&scripCode={{company.scripcode}}&companytype=equity&exchange=NSE&period=1d">R&S</a></span>
                <!-- <span style="padding-left:20px;"><a target="_blank" style="text-decoration:none;" href="https://etmarketsapis.indiatimes.com/ET_Stats/et500?pagesize=500&pageno=1&sortby=currentYearRank&sortorder=asc&year={{company.et500year-1}}&companyid={{company.companyid}}">{{ company.et500year-1 }}</a></span>
                <span style="padding-left:20px;"><a target="_blank" style="text-decoration:none;" href="https://etmarketsapis.indiatimes.com/ET_Stats/et500?pagesize=500&pageno=1&sortby=currentYearRank&sortorder=asc&year={{company.et500year-2}}&companyid={{company.companyid}}">{{ company.et500year-2 }}</a></span> -->
              </td>
            </tr>
            <tr>
              <td>
                <table>
                  <tr>
                    <td><a target="_blank" style="text-decoration:none;" href="https://marketservices.indiatimes.com/marketservices/companyshortdata?companyid={{company.companyid}}&companytype=equity">BSE/NSE</a>-</td>
                    <td *ngIf="company.bse">Open <span style='padding:1px;background-color: lightblue'>{{ company.bse?.open }}/{{ company.nse?.open }}</span></td>
                    <td *ngIf="company.bse">Current <span style='padding:1px;background-color: yellow'>{{ company.bse?.current }}/{{ company.nse?.current }}</span></td>
                    <td *ngIf="company.bse">High <span style='padding:1px;background-color: lightgreen'>{{ company.bse?.high }}/{{ company.nse?.high }}</span></td>
                    <td *ngIf="company.bse">Low <span style='padding:1px;background-color: pink'>{{ company.bse?.low }}/{{ company.nse?.low }}</span></td>
                    <td *ngIf="company.bse">PrevClose <span style='padding:1px;background-color: lightgrey'>{{ company.bse?.previousClose }}/{{ company.nse?.previousClose }}</span></td>
                    <td *ngIf="company.bse">Volume <span style='padding:1px;background-color: rgb(235, 127, 136)'>{{ company.bse?.volume }}/{{ company.nse?.volume }}</span></td>
                    <td *ngIf="company.bse && company.bse?.percentChange>0">% Change <span style='padding:1px;background-color:#43f558'>{{ company.bse?.percentChange }}/{{ company.nse?.percentChange }}</span></td>
                    <td *ngIf="company.bse && company.bse?.percentChange<0">% Change <span style='padding:1px;background-color:#fb2b2b; color:white'>{{ company.bse?.percentChange }}/{{ company.nse?.percentChange }}</span></td>
                    <td *ngIf="company.bse && company.bse?.percentChange>0">Price Change <span style='padding:1px;background-color: #43f558'>{{ company.bse?.absoluteChange }}/{{ company.nse?.absoluteChange }}</span></td> 
                    <td *ngIf="company.bse && company.bse?.percentChange<0">Price Change <span style='padding:1px;background-color: #fb2b2b;color:white'>{{ company.bse?.absoluteChange }}/{{ company.nse?.absoluteChange }}</span></td> 
                </tr>
                </table>
              </td>
            </tr>
          </table>
          </td>
        </tr>
        </table>
      </td>
    </tr>
  </table>
