<span class="header" style="color:hsla(1, 95%, 31%, 0.7);font-size:x-large;">
    SSJ Online Trading!</span>
<style>
    .header {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    font-weight: 500;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .open {
    color: green;
  }
  .current {
    background-color: yellow !important;
  }
  .high {
    color: blue;
  } 
  .low {
    color: black;
  } 
  .prevClose {
    color: rgb(235, 127, 136);
  }  
  table tr{
    padding: 5px;
  }
  table tr td{
    padding: 5px;
  }
  .subTable td
  {
    padding: 5px 20px 5px 20px !important;
  }
  table
  {
    width:950px;
  }
  .subTable
  {
    width:100%;
  }
</style>
<table class="header">
    <tr>
      <td>
        <table style="float:left;">
          <tr>
            <td>
              <p>Min Price</p>
              <input type="text" name="minCurrent" style="width:80px;" [(ngModel)]="minCurrent"/>
            </td>
            <td>
              <p>Max Price</p>
              <input type="text" name="maxCurrent" style="width:80px;" [(ngModel)]="maxCurrent"/>
            </td>
            <td>
              <p>Company Name</p>
              <input type="text" name="txtCompany" style="width:150px;" [(ngModel)]="txtCompany"/>
            </td>
            <td>
              <p>Group</p>
              <input type="text" name="txtGroup" style="width:80px;" [(ngModel)]="txtGroup"/>
            </td>
            <!-- <td>
              <p>Recos</p>
              <input type="text" name="txtRecos" style="width:150px;" [(ngModel)]="txtRecos"/>
            </td> -->
            <td>
                <p>Change</p>
                <input type="text" name="txtChange" style="width:80px;" [(ngModel)]="txtChange"/>
            </td>
            <td>
              <a name="prevPage" id="prevPage" ngDefaultControl href="dashboard/{{prevPage}}" [(ngModel)]="prevPage" (click)="pageClick('P')">Prev</a> | {{nextPage}} | <a name="nextPage" id="nextPage" ngDefaultControl href="dashboard/{{nextPage}}" [(ngModel)]="nextPage" (click)="pageClick('N')">Next</a>
              <p><input type="checkbox" [(ngModel)]="chkRefresh"/>Refresh</p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td>
        <!-- *ngIf="company.roce_perc>oce_perc && company.bse && company.nse && company.bse.current>=minCurrent && company.bse.current<=maxCurrent" -->
        <table *ngFor="let company of companiesData;let i=index">
          <tr *ngIf=" (txtCompany=='' || (txtCompany && company.companyname.toLowerCase().indexOf(txtCompany.toLowerCase())!=-1)) && (txtGroup=='' || (txtGroup==company.securitycode)) && company.bse && company.nse && company.bse.current>=minCurrent && company.bse.current<=maxCurrent && (txtChange=='' || (txtChange && company.bsechange.toLowerCase().indexOf(txtChange.toLowerCase())!=-1) || (txtChange && company.nsechange.toLowerCase().indexOf(txtChange.toLowerCase())!=-1))">
            <td >
            <table>
            <tr>
              <td>
                <span  style='font-size:16px;color: brown'>{{i+1}}. {{ company.companyname}} [{{company.Series}}] - [{{company.securitycode}}]</span>
                <span style="padding-left:10px;"><a target="_blank" style="text-decoration:none;" href="https://economictimes.indiatimes.com/{{company.companyname}}/stocks/companyid-{{company.companyid}}.cms#recommendations">Recos</a></span>
                <span style="padding-left:10px;"><a target="_blank" style="text-decoration:none;" href="https://economictimes.indiatimes.com/markets/technical-charts?symbol={{company.scripcode}}&exchange=NSE&entity=company">Chart</a></span>
                <span style="padding-left:10px;"><a target="_blank" style="text-decoration:none;" href="https://www.equitypandit.com/ask-analyst/">Ask</a></span>
                <span style="padding-left:10px;"><a target="_blank" style="text-decoration:none;" href="https://www.5paisa.com/get-top-stock-data/{{company.scripcode}}">5Paisa Recos</a></span>
                  <!-- https://etmarketsapis.indiatimes.com/ET_Stats/getAllIndices?pagesize=5000 -->
                <span style="padding-left:10px;"><a target="_blank" style="text-decoration:none;" href="https://etmarketsapis.indiatimes.com/ET_Stats/et500?pagesize=500&pageno=1&sortby=currentYearRank&sortorder=asc&year={{currentYear}}&companyid={{company.companyid}}">{{ currentYear }}</a></span>
                <span style="padding-left:10px;"><a target="_blank" style="text-decoration:none;" href="https://etmarketsapis.indiatimes.com/ET_Stats/getAllIndices?pagesize=5000">All Indices</a></span>
                <span style="padding-left:10px;"><a target="_blank" style="text-decoration:none;" href="https://etmarketsapis.indiatimes.com/ET_Stats/getIndexByIds?pagesize=50&exchange=50&indexid=2369&marketcap=&company=true&sortorder=desc&sortby=currentprice">Indices Detail</a></span>
                <span style="padding-left:10px;"><a target="_blank" allt="Raise & Support" style="text-decoration:none;" href="https://economictimes.indiatimes.com/stocks_technicals.cms?companyid={{company.companyid}}&scripCode={{company.scripcode}}&companytype=equity&exchange=NSE&period=1d">R&S</a></span>
                <span style="padding-left:10px;"><a target="_blank" allt="About" style="text-decoration:none;" href="https://chartink.com/fundamentals/{{company.scripcode}}.html">About</a></span>
                <span style="padding-left:10px;"><a target="_blank" allt="Stock" style="text-decoration:none;" href="https://chartink.com/stocks/{{company.scripcode}}.html">Stocks</a></span>
                <!-- <span style="padding-left:20px;"><a target="_blank" style="text-decoration:none;" href="https://etmarketsapis.indiatimes.com/ET_Stats/et500?pagesize=500&pageno=1&sortby=currentYearRank&sortorder=asc&year={{company.et500year-1}}&companyid={{company.companyid}}">{{ company.et500year-1 }}</a></span>
                <span style="padding-left:20px;"><a target="_blank" style="text-decoration:none;" href="https://etmarketsapis.indiatimes.com/ET_Stats/et500?pagesize=500&pageno=1&sortby=currentYearRank&sortorder=asc&year={{company.et500year-2}}&companyid={{company.companyid}}">{{ company.et500year-2 }}</a></span> -->
              </td>
            </tr>
            <tr>
              <td>
                <table class="subTable">
                  <tr style="background-color: #080416b5; color:white;">
                    <td><a target="_blank" style="text-decoration:none;color:white;" href="https://marketservices.indiatimes.com/marketservices/companyshortdata?companyid={{company.companyid}}&companytype=equity">BSE / NSE</a></td>
                      <td>Open </td>
                      <td>Current </td>
                      <td>High </td>
                      <td>Low </td>
                      <td>PrevClose </td>
                      <td>Volume </td>
                      <td>% Change </td>
                      <td>Price Change </td>
                  </tr>
                  <tr style="background-color: rgba(244, 242, 111, 0.807);">
                    <td *ngIf="company.bse"><a target="_blank" style="text-decoration:none;" href="https://marketservices.indiatimes.com/marketservices/companyshortdata?companyid={{company.companyid}}&companytype=equity">BSE</a></td>
                    <td *ngIf="company.bse">{{ company.bse?.open }}</td>
                    <td *ngIf="company.bse">{{ company.bse?.current }}</td>
                    <td *ngIf="company.bse">{{ company.bse?.high }}</td>
                    <td *ngIf="company.bse">{{ company.bse?.low }}</td>
                    <td *ngIf="company.bse">{{ company.bse?.previousClose }}</td>
                    <td *ngIf="company.bse">{{ company.bse?.volume }}</td>
                    <td *ngIf="company.bse && company.bse?.percentChange>=0"><span style='color:#046710eb'>{{ company.bse?.percentChange }}</span></td>
                    <td *ngIf="company.bse && company.bse?.percentChange<0"><span style='color:#de0808e2;'>{{ company.bse?.percentChange }}</span></td>
                    <td *ngIf="company.bse && company.bse?.absoluteChange>=0"><span style='color:#046710eb'>{{ company.bse?.absoluteChange }}</span></td> 
                    <td *ngIf="company.bse && company.bse?.absoluteChange<0"><span style='color:#de0808e2;'>{{ company.bse?.absoluteChange }}</span></td> 
                </tr>
                <tr style="background-color: rgba(219, 40, 76, 0.387);">
                  <td *ngIf="company.nse"><a target="_blank" style="text-decoration:none;" href="https://marketservices.indiatimes.com/marketservices/companyshortdata?companyid={{company.companyid}}&companytype=equity">NSE</a></td>
                  <td *ngIf="company.nse">{{ company.nse?.open }}</td>
                  <td *ngIf="company.nse">{{ company.nse?.current }}</td>
                  <td *ngIf="company.nse">{{ company.nse?.high }}</td>
                  <td *ngIf="company.nse">{{ company.nse?.low }}</td>
                  <td *ngIf="company.nse">{{ company.nse?.previousClose }}</td>
                  <td *ngIf="company.nse">{{ company.nse?.volume }}</td>
                  <td *ngIf="company.nse && company.nse?.percentChange>=0"><span style='color:#046710eb'>{{ company.nse?.percentChange }}</span></td>
                  <td *ngIf="company.nse && company.nse?.percentChange<0"><span style='color:#de0808e2;'>{{ company.nse?.percentChange }}</span></td>
                  <td *ngIf="company.nse && company.nse?.absoluteChange>=0"><span style='color: #046710eb'>{{ company.nse?.absoluteChange }}</span></td> 
                  <td *ngIf="company.nse && company.nse?.absoluteChange<0"><span style='color: #de0808e2;'>{{ company.nse?.absoluteChange }}</span></td> 
              </tr>
                </table>
              </td>
            </tr>
          </table>
          </td>
        </tr>
        </table>
      </td>
    </tr>
  </table>
